---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Michał Rak">
		<section class="grid grid-cols-2 md:grid-cols-3 grid-rows-3 gap-2 h-full">
			<div class="rounded-md shadow-inner p-2 bg-secondary/10 col-span-full md:col-span-2 row-span-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eos alias harum aperiam non vel, omnis dolorem fugit, quaerat illum exercitationem minus ipsa repellendus amet, explicabo recusandae consequuntur beatae facilis!</div>
			<div class="rounded-md shadow-inner p-2 bg-secondary/10"></div>
			<img class="hidden md:block rounded-md shadow-inner h-full row-span-full col-span-1" src="/bg.png" alt="code img">
			<div class="rounded-md shadow-inner p-2 bg-secondary/10">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur, inventore.</div>
			<div class="rounded-md shadow-inner p-2 bg-secondary/10">Lorem, ipsum.</div>
		</section>
</Layout>

