---

---

<section class="flex flex-col">
    <header class="grid grid-cols-4 grid-rows-1 gap-2">
        <div class="flex px-2 bg-secondary/10 rounded-md col-span-1 md:col-span-3">
            <a href="/" class="hidden relative md:flex md:text-4xl font-extrabold group -space-x-2 hover:space-x-0" >
                <p class="absolute bottom-1/2 translate-y-1/2 ">M<span class="absolute bottom-1/2 translate-y-5 text-2xl text-transparent group-hover:inline group-hover:translate-x-0 group-hover:text-text -translate-x-14 duration-300 delay-75">ichał</span></p>
                <p class="absolute bottom-1/2 translate-y-1/2 translate-x-[30px] group-hover:text-accent transition-all duration-300 delay-75 group-hover:translate-x-[92px]">R<span class="text-2xl opacity-0 group-hover:opacity-100 transition-opacity duration-500 delay-75">ak</span></p>
            </a>
            <a href="/" class="relative md:hidden text-2xl font-extrabold flex items-center justify-center w-full" >
                M<span class="text-accent">R</span>
            </a>
        </div>
        <nav class="flex justify-center p-2 gap-2 col-span-3 md:col-span-1 row-span-1 bg-secondary/10 rounded-md">
            <a href="/projects" class="nav_btn">Projects</a>
            <a href="/contact_page" class="nav_btn">Contact</a>
        </nav>
    </header>
</section>